.cardw {
  top: 100px;
  position: sticky;
}


// .cardw:nth-child(1n) {
//   top: 70px;
// }

// .cardw:nth-child(2n) {
//   top: 200px;
// }

// .cardw:nth-child(3n) {
//   top: 400px;
// }

// .cardw:nth-child(4n) {
//   top: 600px;
// }

.bggrayy::before {
  content: "";
  position: absolute;
  background-image: url("./assets/231.png");
  background-repeat: no-repeat;
  background-size: 90%;
  background-position: center center;
  height: 850px;
  top: -10%;
  z-index: -1;
  width: 100%;
}

.startw::before {
  content: "";
  position: absolute;
  background-image: url("./assets/35.png");
  background-repeat: no-repeat;
  background-size: 85%;
  background-position: center center;
  height: 1300px;
  // top: 23%;
  z-index: -1;
  width: 100%;
}

@media (max-width: 500px) {
  .bggrayy::before {
    content: "";
    position: absolute;
    background-image: url("./assets/231.png");
    background-repeat: no-repeat;
    background-size: 0%;
    background-position: 18% 52%;
    height: 115vh;
    top: -15%;
    z-index: -1;
    width: 100%;
  }

  .cardw {
    top: 100px;
    position: relative;
  }
}

.bg-service {
  background: linear-gradient(30.42deg,
      #abe1f8 20.58%,
      #f9f9f9 38.51%,
      #abe1f8 87.75%);
}

.someone {
  background: linear-gradient(360deg, #08249470 11.9%, #ffffff 100%);
  -webkit-background-clip: text;
  /* Clip the text to the background shape */
  color: transparent;
  /* Make the text transparent */
  // font-size: 450px; /* Set the font size to 450px */
}

@media only screen and (max-width: 500px) {
  .someone {
    display: none;
  }
}

.servicebg {
  background: linear-gradient(226.41deg,
      #abe1f8 22.79%,
      rgba(249, 249, 249, 0.82) 42.07%,
      #abe1f8 76.06%);
}