.hero-container::before {
  content: "";
  position: absolute;
  background-image: url("./assets/12.png");
  background-repeat: no-repeat;
  background-size: 90%;
  background-position: center;
  height: 750px;
  top: -0%;
  z-index: -1;
  width: 100%;
}

// #fname {
//   height: 100%;
//   width: 100%;
//   background-image: url("./assets/name.png");
//   background-repeat: no-repeat;
//   background-position: right;
// }

// #lname {
//   height: 100%;
//   background-image: url("./assets/name.png");
//   background-repeat: no-repeat;
//   background-position: right;
// }

// #lnamee {
//   height: 100%;
//   width: 100%;
//   background-image: url("./assets/mail.png");
//   background-repeat: no-repeat;
//   background-position: right;
// }

// #subject {
//   height: 100%;
//   width: 100%;
//   background-image: url("./assets/test.svg");
//   // bac
//   background-repeat: no-repeat;
//   background-position: right top;
// }

@media (max-width: 500px) {
  .hero-container::before {
    content: "";
    position: absolute;
    background-image: url("./assets/12.png");
    background-repeat: no-repeat;
    background-size: 600%;
    height: 850px;
    top: -15%;
    z-index: -1;
    width: 100%;
  }
}

.contact-hero {

  // margin-bottom: 80px;
  .contact-hero-h1 {
    color: #000;
    //   font-family: Graphik;
    font-size: 66px;
    font-style: normal;
    font-weight: 400;
    line-height: 108%;
    margin-left: 100px;
    margin-top: 153px;
    letter-spacing: -2.64px;
    width: 650.552px;
  }

  .contact-form {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 36px;

    .form {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;

      // margin-left: 82px;
      // margin-top: 62px;
      .form-div {
        display: flex;
        gap: 30px;

        .name {
          display: flex;
          padding: 15px 86px 15px 10px;
          align-items: center;
          // border: 1px solid #000;
          background: #abe0f879;
          border-radius: 20px;
        }
      }

      .email {
        width: 100%;
        display: flex;
        // width: 652px;
        padding: 15px 16px 15px 10px;
        align-items: center;
        background: #abe0f879;

        border-radius: 20px;
        margin: 15px 0;
      }

      .text {
        display: flex;
        // width: 652px;
        padding: 15px 96px 80px 10px;
        align-items: center;
        background: #abe0f879;
        border-radius: 20px;
      }
    }

    button {
      display: flex;
      padding: 16px 32px;
      justify-content: center;
      align-items: center;
      gap: 8px;
      border-radius: 31px;
      // border: 1px solid #000;
      margin-left: 82px;
      transition: 0.3s;
    }

    //   button:hover {
    //     border: 1px solid #ffcd05;
    //     background-color: #ffcd05;
    //   }
  }
}

.indiaimg {
  display: none;
}

.analog-clock {
  position: relative;
  width: 127px;
  height: 127px;
  border: 1px solid #9e9fa6;
  border-radius: 50%;
}

.div-time {
  position: absolute;
  top: 307px;
  right: 80px;

  .time-h1 {
    color: #000;
    //   font-family: Graphik;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 122%;
    /* 24.4px */
    letter-spacing: -0.2px;
    margin-bottom: 32px;
  }
}

.clocks {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 27px;
}


.regions {
  h1 {
    width: 100%;
    text-align: center;
    color: #000;
    text-align: center;
    //   font-family: Graphik;
    font-size: 49.202px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    /* 59.042px */
    letter-spacing: -1.476px;
  }
}

.working-areas {
  width: 100%;
  padding: 108px 146px;
  display: flex;
  justify-content: center;
  gap: 100px;
  align-items: center;

  div {
    // display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;

    p {
      color: #000;
      text-align: center;
      leading-trim: both;
      text-edge: cap;
      // font-family: Graphik;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-transform: capitalize;
    }
  }
}

.our-contact {
  padding: 0px 0 94px 0px;
  display: flex;
  justify-content: center;
  align-items: center;

  .contacts-info {
    // width: 802px;
    display: flex;
    flex-direction: column;
    gap: 66px;
  }

  .contact-head {
    color: #062B43;
    text-align: center;
    //   font-family: Graphik;
    font-size: 49.202px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    /* 59.042px */
    letter-spacing: -1.476px;
  }
}

.contact-details {
  display: flex;
  gap: 100px;

  div {
    // display: flex;
    // width: 230px;
    // flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: #175574 !important;
    font-size: 25px;
    width: 318px;


    h1 {
      color: #000;
      // font-family: Graphik;
      font-size: 25px;
      font-style: normal;
      text-align: center;
      font-weight: 400;
      line-height: 120%;
      /* 38.4px */
      letter-spacing: -0.32px;
    }

    p {
      color: #000;
      // font-family: Graphik;
      font-size: 16px;
      font-style: normal;
      text-align: center;

      font-weight: 400;
      line-height: 150%;
      /* 24px */
      text-decoration-line: underline;
    }
  }
}

.address-div {
  display: flex;
  gap: 139px;
  margin-left: 183px;
  margin-top: 30px;
  margin-bottom: 50px;
}

.address-div2 {
  .address-head {
    color: #000;
    //   font-family: Graphik;
    font-size: 49.202px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    /* 59.042px */
    letter-spacing: -1.476px;
    margin-bottom: 66px;
  }

  .address-head2 {
    color: #000;
    //   font-family: Graphik;
    font-size: 49.202px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    /* 59.042px */
    letter-spacing: -1.476px;
    margin-bottom: 66px;
    display: none;
  }

  div {
    margin-bottom: 36px;

    h1 {
      color: #000;
      // font-family: Graphik;
      font-size: 32px;
      font-style: normal;
      font-weight: 400;
      line-height: 120%;
      /* 38.4px */
      letter-spacing: -0.32px;
      // text-decoration-line: underline;
      // margin-bottom: 20px;
    }

    p {
      color: #000;
      // font-family: Graphik;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
      /* 24px */
      opacity: 0.8;
    }
  }
}

@media (max-width: 1200px) {
  .contact-hero {
    .contact-form {
      .form {
        .form-div {
          gap: 20px;

          .name {
            padding: 15px 10px;
            width: 100%;
          }
        }

        .email {
          width: 428px;
          padding: 15px 350px 15px 0px;
        }

        .text {
          width: 428px;
          padding: 15px 350px 80px 0px;
        }
      }
    }
  }

  .working-areas {
    gap: 40px;
  }

  .address-div {
    margin-left: 100px;
  }
}

@media (max-width: 1024px) {
  .indiaimg {
    display: block;
  }

  .contact-hero {
    .contact-form {
      .form {
        .form-div {
          gap: 20px;
          flex-direction: column;
        }

        .email {
          width: 328px;
          padding: 15px 0px;
        }

        .text {
          width: 328px;
          padding: 15px 0px 80px 0px;
        }
      }

      button {
        padding: 8px 25px;
      }
    }
  }

  .working-areas {
    gap: 20px;
  }

  .address-div {
    gap: 50px;
  }
}

@media (max-width: 866px) {
  .time-zones {
    // flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
  }

  .clocks {
    justify-content: center;
    align-items: center;
  }

  .digital-clock {
    gap: 5px;
    text-align: center;
    justify-content: center;
    align-items: center;

    h1 {
      font-size: 30px;
    }
  }

  .div-time {
    .time-h1 {
      margin-bottom: 20px;
      text-align: center;
    }
  }

  .working-areas {
    flex-direction: column;
    gap: 50px;

    div {
      gap: 20px;
    }
  }

  .address-div {
    margin: 0 82px;
    flex-direction: column;
    margin-bottom: 0;

    .address-div2 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;

      h1 {
        margin-bottom: 30px;
      }
    }
  }

  .contact-details {
    display: flex;
    gap: 56px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contact-hero {
    .contact-hero-h1 {
      font-size: 56px;
      margin-left: 80px;
      width: 500.552px;
    }
  }
}

@media (max-width: 670px) {
  .address-head {
    display: none;
  }

  .address-head2 {
    display: block;
  }

  .div-time {
    position: relative;
    top: 30px;
    right: 0px;
  }

  .clocks {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .contact-hero {
    .contact-hero-h1 {
      font-size: 40px;
      margin-left: 5%;
      width: 330px;
    }
  }

  .contact-hero {
    .contact-form {
      width: 100%;

      .form {
        margin-left: 5%;
        width: 90%;

        .form-div {
          gap: 20px;
          flex-direction: column;
        }

        .email {
          width: 100%;
          padding: 15px 10px;
        }

        .text {
          width: 100%;
          padding: 15px 0px 80px 10px;
        }
      }

      button {
        padding: 8px 0px;
        width: 90%;
        margin-left: 5%;
      }
    }
  }

  .working-areas {
    padding: 70px;
  }

  .regions {
    h1 {
      font-size: 40px;
    }
  }

  .address-div2 {
    .address-head {
      font-size: 40px;
    }
  }

  .address-div {
    margin: 0 70px;
  }

  .our-contact {
    .contact-head {
      font-size: 40px;
    }
  }
}

@media (max-width: 420px) {
  .working-areas {
    padding: 70px 30px;
  }

  .address-div {
    margin: 0 30px;
  }

  .clocks {
    flex-direction: column;
  }
}

@media (max-width: 380px) {
  .contact-hero .contact-hero-h1 {
    margin-left: 5%;
    width: 90%;
  }
}

@media (max-width: 1024px) and (min-width: 768px) {
  .div-time {
    position: relative;
    top: 30px;
    right: 0px;
  }

  .clocks {
    flex-direction: row;
  }

  .contact-hero .contact-form .form .form-div {
    gap: 20px;
    flex-direction: row;
  }

  .form {
    width: 100%;
  }

  .contact-hero .contact-form .form .email {
    width: 100%;
    padding: 15px 10px;
  }

  .contact-hero .contact-form .form .text {
    width: 100%;
    padding: 15px 10px 80px 10px;
  }

  .contact-hero .contact-form {
    width: 100%;
  }

  .contact-hero .contact-form .form {
    margin-left: 0;
    padding: 50px;
  }
}