.logobg {
  background-image: url("./logo.svg");
  width: 115px;
  /* margin-top: -28px; */
  height: 45px;
  background-repeat: no-repeat;
  background-size: 80%;
  background-position-y: 50%;
}

.lists {
  display: none;
}

.lists.active {
  display: block;
  position: fixed;
  z-index: 999999999999999999999999999999999;
  background: #062b43;
  /* background: rgba(248, 251, 248, 0.9);  */
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  left: 0px;
  top: -20px;
  width: 100%;
  padding: 0px 0 40px 0;
  /* // color: alpha($color: #000000); */
  height: 100vh;
  overflow: hidden;
}

.lettal {
  background: linear-gradient(90deg, #336a8e 0%, #002839 100%);
}

.lettal:hover {
  background: #e3f5fe;
}

.anchor {
  border: 1px solid;
  border-color: linear-gradient(45deg,
      #666666 26%,
      #ffffff 12.5%,
      #666666 10.5%);
  border-image-source: linear-gradient(45deg,
      #666666 26%,
      #ffffff 12.5%,
      #666666 10.5%);
}

@media (max-width:1024px) {
  .logobg {
    width: 30px;
  }
}