.bggrayy::before {
  content: "";
  position: absolute;
  background-image: url("./223.png");
  background-repeat: no-repeat;
  background-size: 90%;
  background-position: center center;
  height: 820px;
  top: 0%;
  z-index: -1;
  width: 100%;
}

// .bggrayy::after {
//   content: "";
//   position: absolute;
//   // background-image: url("./bg2.png");
//   background-color: #1e1a1a85;
//   // background-color: rgba(0, 0, 0, 0.623);
//   background-repeat: no-repeat;
//   background-size: 100%;
//   height: 820px;
//   top: -15%;
//   z-index: -1;
//   width: 100%;
// }

@media (max-width: 500px) {
  .bggrayy::before {
    content: "";
    position: absolute;
    background-image: url("./bg2.png");
    background-repeat: no-repeat;
    background-size: 500%;
    height: 700px;
    top: -15%;
    z-index: -1;
    width: 100%;
  }

  .bggrayy::after {
    content: "";
    position: absolute;
    // background-image: url("./bg2.png");
    background-color: #1e1a1a85;
    // background-color: rgba(0, 0, 0, 0.623);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 700px;
    top: -15%;
    z-index: -1;
    width: 100%;
  }

}

.main-training {
  background: linear-gradient(226.41deg,
      #abe1f8 22.79%,
      rgba(249, 249, 249, 0.82) 42.07%,
      #abe1f8 76.06%);
}


.top-bot {
  animation: slide_to_bott 15s linear infinite;
}

@keyframes slide_to_bott {
  0% {
    transform: translateX(0%);
  }

  50% {
    transform: translateX(-60%);
  }

  100% {
    transform: translateX(0);
  }
}